<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>{{title}}</title>
</head>
<body >
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="height: 100px; padding: 40px" href="#">Наше приложение</a>
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout" id="username">{{ current_user.name }} {{current_user.surname}}</a>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
    </nav>

</header>
<div style="position: relative; height: 1800px">
    {% if current_user.is_authenticated %}
    <aside>
        <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Basic mixed styles example" style="padding: 30px">
          <a href="/messenger" class="btn btn-primary" style="border-color: black;">Профиль</a>
          <a href="/messenger" class="btn btn-primary" style="border-color: black;">Сообщения</a>
          <a href="/messenger" class="btn btn-primary" style="border-color: black;">Интересы</a>
          <a href="/messenger" class="btn btn-primary" style="border-color: black;">Друзья</a>
          <a href="/messenger" class="btn btn-primary" style="border-color: black;">Настройки</a>
        </div>
    </aside>
    {% endif %}

    <!-- Begin page content -->
    <main role="main" class="container" style="padding: 25%px;left: 300px; top:10px;position: absolute">

        <div>{% block content %}{% endblock %}</div>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
</body>
</html>