{% extends "base.html" %}

{% block content %}
{% for friend4 in friends%}
{% for friend in friend4%}
<div style="padding-bottom: 10px">
    <div class="card" style="padding: 5px, height:200px, position:relative">

        <div class="card-body" align="bottom">
            <div style="position: absolute; top: 0%; left: 25%; width: 50%">
                <h5 class="card-title">{{friend.name}} {{friend.surname}}</h5>
                <p class="card-text">{{friend.zodiac}}</p>
            </div>
            <div>
                <div class="btn-group-vertical" role="group" aria-label="Basic mixed styles example">
                    <a href="/" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endfor %}
{% endblock %}