{% extends "base.html" %}
{% block content %}

<style>
.button {
    background: rgb(0 0 0 / 0%);
    height:200px;
    width:200px;
}
.img {
    width: 400px;
    height: 400px;
}
.ball {
    margin-right: 300px;
}

</style>
<div align="center" class="ball">
    <div style="width: 500px" class="light">Расскажи что-нибудь шару, а он покажет, что на это сказала вселенная</div>
    <a onclick="t()"><img class="img" src="static/img/magicball.png"></a>
    <div id="div" style="color:white" class="light"></div>
</div>
<script> function t() {
 let arr = ['Бесспорно', 'Предрешено', 'Никаких сомнений', 'Определённо да',
                  'Можешь быть уверен в этом', 'Мне кажется — «да»', 'Вероятнее всего',
                  'Хорошие перспективы', 'Знаки говорят — «да»', 'Да',
                  'Пока не ясно, попробуй снова',
                  'Спроси позже', 'Лучше не рассказывать', 'Сейчас нельзя предсказать',
                  'Сконцентрируйся и спроси опять', 'Даже не думай', 'Мой ответ — «нет»',
                  'По моим данным — «нет»', 'Перспективы не очень хорошие', 'Весьма сомнительно'];
  const div = document.getElementById('div');
div.innerHTML = arr[Math.floor((Math.random()*arr.length))]
}




</script>
{% endblock %}